doctype html

html
    head
        title="Canola Counter"
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="icon" href=process.env.CC_PATH + "/images/favicon.ico")

        link(href=process.env.CC_PATH + "/annotorious/annotorious.min.css" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css")
        link(href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css")
        link(href=process.env.CC_PATH + '/stylesheets/main.css' rel='stylesheet')

        script(src=process.env.CC_PATH + "/osd/openseadragon.min.js")
        script(src=process.env.CC_PATH + "/annotorious/openseadragon-annotorious.min.js")

        script(src="https://code.jquery.com/jquery-3.6.0.js")
        script(src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js")
        script(src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous")
        

        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/home.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/common.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/modal.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/upload.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/train.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/canvas_overlay.js')

    body
        div(id="container")

            include ./header.pug


            div(id="modal" class="modal")
                div(class="modal-content")
                    div(class="modal-header" id="modal_head")

                    div(class="modal-body" id="modal_body")

                    div(class="modal-footer")

            //-
                div(id="modal" class="modal")
                    div(class="modal-content")
                        div(class="modal-header" id="modal_header")
                            span(class="close close-hover" id="modal_close") &times;
                            p(id="modal_header_text" style="white-space: pre-line;")
                        div(class="modal-body" id="modal_body")
                            p(id="modal_message")
                        div(class="modal-footer")

            div(id="body")
                    
                //h(class="header2" style="font-size:26px") Home 
                //hr

                br
                br

                div(id="home_container")

                    div(class="panel" style="width: 1500px;")

                        //h(class="header2" style="font-size: 26px; text-align: center;") Image Sets

                        div(class="content" style="display:block; height: 800px")

                            ul(class="nav" id="browse_upload")
                                li(id="browse_tab_btn" class="nav tab-btn-active")
                                    a(class="nav")
                                        span
                                            i(class="fa-solid fa-seedling" style="margin-right:3px")
                                            |
                                            | Browse

                                li(id="upload_tab_btn" class="nav")
                                    a(class="nav")
                                        span
                                            i(class="fa-solid fa-file-arrow-up" style="margin-right:3px")
                                            |
                                            | Upload

                                li(id="train_tab_btn" class="nav")
                                    a(class="nav")
                                        span
                                            i(class="fa-solid fa-layer-group" style="margin-right:3px")
                                            |
                                            | Train

                                //-
                                    li(id="train_baseline_tab_btn" class="nav")
                                        a(class="nav")
                                            span
                                                i(class="fa-solid fa-cube" style="margin-right:3px")
                                                |
                                                | Train Baseline


                            div(id="main_area")


                                div(id="browse")

                                    div(style="height: 70px")

                                    table(id="combo_table")
                                        tr
                                            th
                                                div(class="table_head" style="width: 170px") Farm Name 
                                            th 
                                                div(style="width: 250px")
                                                    select(id="farm_combo" class="nonfixed_dropdown")

                                        tr
                                            th 
                                                div(class="table_head" style="width: 170px") Field Name 
                                            th 
                                                div(style="width: 250px")
                                                    select(id="field_combo" class="nonfixed_dropdown")

                                        tr
                                            th 
                                                div(class="table_head" style="width: 170px") Mission Date
                                            th 
                                                div(style="width: 250px")
                                                    select(id="mission_combo" class="nonfixed_dropdown")

                                    div(style="height: 50px")
                                    hr(class="panel_line" style="margin: 0px")
                                    div(id="image_set_container")


                                div(id="upload" hidden)


                                    div(style="height: 70px")
                                    form(id="upload_form" action="")

                                        table(id="input_table")
                                            tr 
                                                th 
                                                    div(class="table_head" style="width: 170px") Farm Name 
                                                        span(style="color: yellow") *
                                                th 
                                                    div(style="width: 250px")
                                                        input(id="farm_input" class="nonfixed_input")
                                        
                                            tr 
                                                th 
                                                    div(class="table_head" style="width: 170px") Field Name 
                                                        span(style="color: yellow") *
                                                th 
                                                    div(style="width: 250px")
                                                        input(id="field_input" class="nonfixed_input")

                                            tr 
                                                th 
                                                    div(class="table_head" style="width: 170px") Mission Date 
                                                        span(style="color: yellow") *
                                                th 
                                                    div(style="width: 250px")
                                                        input(id="mission_input" type="date" class="nonfixed_input")

                                            tr 
                                                th 
                                                    div(class="table_head" style="width: 170px") Object Name 
                                                        span(style="color: yellow") *
                                                th 
                                                    div(style="width: 250px")
                                                        select(id="object_input" class="nonfixed_dropdown")


                                            tr 
                                                th 
                                                    div(class="table_head" style="width: 170px") Camera Height (m)
                                                th 
                                                    div(style="width: 250px")
                                                        input(id="camera_height_input" class="nonfixed_input")
                                        
                                            //tr 
                                            //    td(style="height: 15px")
                                            tr
                                                td 
                                                    div(class="table_head" style="width: 170px") Make Image Set Public
                                                td
                                                    div(style="width: 250px; text-align: left; padding-left: 2px")
                                                        label(for="upload_set_public" class="container" style="display: inline; margin-botton: 20px; margin-left: 12px")
                                                            input(type="checkbox" id="upload_set_public" name="upload_set_public" checked)
                                                            span(class="checkmark")



                                        br
                                        div(style="color: yellow") * 
                                            span(style="color: white") Indicates required field.

                                        br
                                        //hr(style="margin: 0px 0px")

                                        div(style="width: 99%; margin: auto; border: 1px solid white; border-bottom: none")
                                            // border-radius: 0px 0px 50px 50px")
                                            ul(class="nav")
                                                li(id="image_set_tab_btn" class="nav tab-btn-active")
                                                    a(class="nav")
                                                        span
                                                            i(class="fa-solid fa-images" style="margin-right:3px")
                                                            |
                                                            | Image Set

                                                li(id="orthomosaic_tab_btn" class="nav")
                                                    a(class="nav")
                                                        span
                                                            i(class="fa-solid fa-image" style="margin-right:3px")
                                                            |
                                                            | Orthomosaic



                                            div(id="image_set_tab")
                                                div(id="image_set_dropzone" class="dropzone" style="height: 375px")
                                                    div(class="dz-message data-dz-message")
                                                        span Drop Images Here 
                                                    div(id="image_set_upload_loader" class="loader" hidden)

                                            div(id="orthomosaic_tab" hidden)
                                                div(id="orthomosaic_dropzone" class="dropzone" style="height: 375px")
                                                    div(class="dz-message data-dz-message")
                                                        span Drop Orthomosaic Here 
                                                    div(id="orthomosaic_upload_loader" class="loader" hidden)

                                        div(style="width: 99%; margin: auto; height: 25px; border-top: none; border-left: 1px solid white; border-bottom: 1px solid white; border-right: 1px solid white; border-radius: 0px 0px 50px 50px")


                                        div(style="height: 10px")
                                        button(id="upload_button" class="std-button std-button-hover" style="width: 200px; height: 40px;" type="submit") 
                                            i(class="fa-solid fa-file-arrow-up" style="padding-right: 5px")
                                            |
                                            | Upload 
                                        //div(style="height: 25px")
                                
                                div(id="train" hidden)

                                    br
                                    br
                                    br

                                    ul(class="nav" style="border-top: 1px solid white;")
                                        li(id="submit_train_tab_btn" class="nav tab-btn-active" onclick="show_train_tab(this.id)")
                                            a(class="nav")
                                                span
                                                    i(class="fa-solid fa-circle-plus" style="margin-right:3px")
                                                    |
                                                    | Submit

                                        li(id="available_train_tab_btn" class="nav" onclick="show_train_tab(this.id)")
                                            a(class="nav")
                                                span
                                                    i(class="fa-solid fa-circle-check" style="margin-right:3px")
                                                    |
                                                    | Available

                                        li(id="pending_train_tab_btn" class="nav" onclick="show_train_tab(this.id)")
                                            a(class="nav")
                                                span
                                                    i(class="fa-solid fa-clock" style="margin-right:3px")
                                                    |
                                                    | Pending

                                        li(id="aborted_train_tab_btn" class="nav" onclick="show_train_tab(this.id)")
                                            a(class="nav")
                                                span
                                                    i(class="fa-solid fa-circle-xmark" style="margin-right:3px")
                                                    |
                                                    | Aborted



                                    div(id="submit_train_tab")
                                        table
                                            tr
                                                td(style="width: 700px")

                                                    table
                                                        tr
                                                            td
                                                                h(class="header2" style="text-align: left; width: 200px; padding-left: 5px") Available Sets
                                                            td(style="width: 100%")
                                                            


                                                    table 
                                                        tr 
                                                            //td(style="width: 50%")
                                                            td(style="width: 100%")
                                                            td
                                                                div(style="text-align: right; width: 90px; padding-right: 5px; text-decoration: underline") Sort Order 
                                                            
                                                            td
                                                                div(style="width: 450px")
                                                                    select(id="sort_combo_1" class="nonfixed_dropdown" style="display: inline-block; width: 150px")
                                                                        option(value="object_name") Object Name 
                                                                        option(value="set_owner") Set Owner
                                                                        option(value="set_name") Set Name
                                                                    select(id="sort_combo_2" class="nonfixed_dropdown" style="display: inline-block; width: 150px")
                                                                        option(value="set_owner") Set Owner 
                                                                        option(value="set_name") Set Name
                                                                    select(id="sort_combo_3" class="nonfixed_dropdown" style="display: inline-block; width: 150px")
                                                                        option(value="set_name") Set Name
                                                            //td
                                                            //    div(style="width: 60px")
                                                            td
                                                                button(class="std-button std-button-hover" onclick="show_filter()" style="font-size: 16px; padding: 2px; width: 90px; margin: 0px 5px")
                                                                    i(class="fa-solid fa-filter" style="margin-right: 4px; font-size: 14px") 
                                                                    |
                                                                    | Filter
                                                            
                                                    
                                                    table
                                                        tr 
                                                            td

                                                                div(class="scrollable_area" style="width: 690px; height: 280px; overflow-y: scroll")
                                                                    //div(class="scrollable_area" style="height: 475px; overflow-y: scroll")
                                                                    table(id="available_image_sets" style="border-collapse: collapse")
                                                        tr
                                                            td
                                                                table 
                                                                    tr 
                                                                        td
                                                                            h(class="header2" style="text-align: left; width: 100px; padding-left: 5px") Added Sets
                                                                        td(style="width: 100%")
                                                                        //-
                                                                            td 
                                                                                h(class="header2" style="text-align: right; padding-right: 10px") Images 
                                                                            td 
                                                                                div(id="added_images" style="width: 80px; text-align: left") 0
                                                                        td 
                                                                            h(class="header2" style="text-align: right; padding-right: 10px") Annotations 
                                                                        td 
                                                                            div(id="added_annotations" style="width: 100px; text-align: left") 0
                                                                        
                                                        tr
                                                            td
                                                                div(class="scrollable_area" style="height: 180px; overflow-y: scroll")
                                                                    table(id="added_image_sets" style="border-collapse: collapse")

                                                        tr 
                                                            td
                                                                table 
                                                                    tr 
                                                                        td
                                                                            div(style="height: 4px")
                                                                        td
                                                                    tr
                                                                        td 
                                                                            div(class="table_head" style="width: 200px; text-align: right") Model Name
                                                                        td
                                                                            div(style="width: 250px")
                                                                                input(id="model_name_input" class="nonfixed_input")
                                                                    tr 
                                                                        td 
                                                                            div(class="table_head" style="width: 200px; text-align: right") Target Object
                                                                        td
                                                                            div(style="width: 250px")
                                                                                select(id="model_object_input" class="nonfixed_dropdown")


                                                                    //-
                                                                        tr 
                                                                            td 
                                                                                label(for="public_checkbox" class="container header2" style="width: 300px;") Make Model Public
                                                                            td
                                                                                input(type="checkbox" id="public_checkbox" name="public_checkbox" checked)
                                                                                span(class="checkmark")
                                                                    tr
                                                                        td 
                                                                            div(class="table_head" style="width: 200px; text-align: right") Make Model Public
                                                                        td
                                                                            div(style="width: 250px; text-align: left")
                                                                                label(for="model_public" class="container" style="display: inline; margin-botton: 20px; margin-left: 12px")
                                                                                    input(type="checkbox" id="model_public" name="model_public" checked)
                                                                                    span(class="checkmark")
                                                        
                                                        tr 
                                                            td
                                                                div(style="height: 12px")           

                                                        tr 
                                                            td
                                                                div(style="height: 50px")
                                                                    button(id="submit_training_request" class="std-button std-button-hover" style="width: 250px; height: 30px;") Submit Training Request

                                                        tr 
                                                            td
                                                                div(style="height: 4px")   

                                                
                                                td(style="width: 800px")

                                                    table
                                                        tr
                                                            td
                                                                table
                                                                    tr
                                                                        td
                                                                            h(class="header2" style="text-align: left; width: 120px; padding-left: 5px; margin-top: 10px") Inspected Set

                                                                        td(style="width: 100%")
                                                                            div(id="inspected_set" style="text-align: center;")

                                                                        td(style="width: 100px")
                                                                            button(id="inspect_prev" class="std-button std-button-hover" style="padding: 2px; font-size: 14px; width: 50px") 
                                                                                i(class="fa-solid fa-circle-chevron-left")
                                                                        td(style="width: 100px")
                                                                            button(id="inspect_next" class="std-button std-button-hover" style="padding: 2px; font-size: 14px; width: 50px") 
                                                                                i(class="fa-solid fa-circle-chevron-right")

                                                        tr
                                                            td
                                                                //div(id="inspect_container")
                                                                div(id="inspect_viewer" class="viewer" style="height: 295px; width: 800px")


                                                    //hr
                                                    table
                                                        tr
                                                            td
                                                                table 
                                                                    tr 
                                                                        td
                                                                            h(class="header2" style="text-align: left; width: 120px; padding-left: 5px") Target Set

                                                                        td(style="width: 100%")

                                                                        td(style="width: 100px")
                                                                            button(id="target_prev" class="std-button std-button-hover" style="padding: 2px; font-size: 14px; width: 50px") 
                                                                                i(class="fa-solid fa-circle-chevron-left")
                                                                        td(style="width: 100px")
                                                                            button(id="target_next" class="std-button std-button-hover" style="padding: 2px; font-size: 14px; width: 50px") 
                                                                                i(class="fa-solid fa-circle-chevron-right")
                                                        tr 
                                                            td
                                                                table
                                                                    tr
                                                                        td
                                                                            select(id="target_farm_combo" class="dropdown" style="width: 266px")
                                                                            select(id="target_field_combo" class="dropdown" style="width: 266px")
                                                                            select(id="target_mission_combo" class="dropdown" style="width: 166px")
                                                        tr
                                                            td
                                                                div(id="target_viewer" class="viewer" style="height: 295px; width: 800px")

                                                        tr
                                                            td(style="height: 16px")
                                    div(id="available_train_tab")
                                        br
                                        br
                                        br
                                        h(style="font-weight: bold") #{username}'s
                                        div(class="header2") Trained Models

                                        br
                                        br

                                        div(id="available_models")



                                        //- table(id="available_models_head" style="padding-right: 20px; height: 30px")
                                        //- div(style="margin: 0 auto; height: 550px; overflow-y: scroll;")
                                        //-     table(id="available_models")

                                        

                                    div(id="pending_train_tab")
                                        br
                                        br
                                        br
                                        h(style="font-weight: bold") #{username}'s
                                        div(class="header2") Pending Models

                                        br
                                        br

                                        div(id="pending_models")

                                        //- table(id="pending_models_head" style="padding-right: 20px; height: 30px")
                                        //- div(style="margin: 0 auto; height: 550px; overflow-y: scroll;")
                                        //-     table(id="pending_models")                                       
                                    
                                    div(id="aborted_train_tab")
                                        br
                                        br
                                        br
                                        h(style="font-weight: bold") #{username}'s
                                        div(class="header2") Aborted Models

                                        br
                                        br

                                        div(id="aborted_models")

                                        //- table(id="aborted_models_head" style="padding-right: 20px; height: 30px")
                                        //- div(style="margin: 0 auto; height: 550px; overflow-y: scroll;")
                                        //-     table(id="aborted_models")

    script.
        let username = !{JSON.stringify(username)};
        let data = !{JSON.stringify(data)};

    //- script.
    //-     let username = !{JSON.stringify(username)};
    //-     let image_sets_data = !{JSON.stringify(image_sets_data)};
    //-     let camera_specs = !{JSON.stringify(camera_specs)};
    //-     let objects = !{JSON.stringify(objects)};
    //-     let available_image_sets = !{JSON.stringify(available_image_sets)};