doctype html

html
    head
        title="Canola Counter"
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="icon" href=process.env.CC_PATH + "/images/favicon.ico")
        
        link(href=process.env.CC_PATH + "/annotorious/annotorious.min.css" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css")
        link(href=process.env.CC_PATH + '/stylesheets/main.css' rel='stylesheet')
        link(href=process.env.CC_PATH + '/stylesheets/d3.css' rel='stylesheet')


        script(src="https://code.jquery.com/jquery-3.6.0.js")
        script(src=process.env.CC_PATH + "/osd/openseadragon.min.js")
        script(src=process.env.CC_PATH + "/annotorious/openseadragon-annotorious.min.js")
        //script(src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-shape-labels@latest/dist/annotorious-shape-labels.min.js")

        script(src="https://d3js.org/d3.v4.js")


        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/timeline.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/timeline_chart.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/score_chart.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/common.js')

    body
        div(id="container")

            include ./header.pug
            //-
                div(id="modal" class="modal")
                    div(class="modal-content")
                        div(class="modal-header" id="modal_head")

                        div(class="modal-body" id="modal_body")

                        div(class="modal-footer")

            div(id="body")
                    
                br
                br

                div(class="grid-container-1")
                    div(class="half-round-item-1")

                        div(class="dark-bg" style="vertical-align:top; height: 720px; width: 90%; margin: 0 auto")

                            table(class="transparent_table")
                                tr 
                                    td(style="height: 45px")
                                        h(id="image_set_name" class="header2" style="font-size: 22px; text-align: center; white-space: pre-wrap; color: white")

                            hr
                            table(class="transparent_table")
                                tr
                                    td(style="text-align: left")
                                        h(class="header2" style="width: 60px") Status

                                    td(style="width: 400px")
                                        select(id="status_combo" class="nonfixed_dropdown")

                                tr
                                    td(style="text-align: left")
                                        h(class="header2" style="width: 60px") Metric

                                    td(style="width: 400px")
                                        select(id="metric_combo" class="nonfixed_dropdown")

                            div
                                div(id="loader")
                                    div(style="height: 30px")
                                    div(class="loader")
                                div(id="error" hidden)
                                    div(style="height: 30px")
                                    div(id="error_message")
                                div(id="timeline_chart" style="margin: 0 auto; height: 570px; width: 950px; border:none" hidden)
                                    div(id="timeline_chart_tooltip" class="tooltip" style="z-index: 10")


                                

    script.
        let username = !{JSON.stringify(username)};
        let data = !{JSON.stringify(data)};