doctype html

html
    head
        title="Canola Counter"
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="icon" href=process.env.CC_PATH + "/images/favicon.ico")


        link(href=process.env.CC_PATH + "/annotorious/annotorious.min.css" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css")
        link(href=process.env.CC_PATH + '/stylesheets/main.css' rel='stylesheet' id="main-stylesheet")
        link(href=process.env.CC_PATH + '/stylesheets/d3.css' rel='stylesheet')
        

        script(src="https://code.jquery.com/jquery-3.6.0.js")
        script(src=process.env.CC_PATH + "/osd/openseadragon.min.js")
        script(src=process.env.CC_PATH + "/annotorious/openseadragon-annotorious.min.js")
        //script(src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-shape-labels@latest/dist/annotorious-shape-labels.min.js")
        script(src="https://d3js.org/d3.v4.js")


        //- script(type="text/x-mathjax-config").
        //- MathJax.Hub.Config({
        //-     tex2jax: {
        //-     inlineMath: [['$','$'], ['\\(','\\)']],
        //-     skipTags: ["script","noscript","style","textarea","code"]
        //-     }
        //- });

        //- script(src="https://polyfill.io/v3/polyfill.min.js?features=es6")
        //- script(id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js")

        //- script(type='text/x-mathjax-config').
        //- MathJax.Hub.Config({
        //-     tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        //-     });

        //- script(type='text/javascript', src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML', async)


        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/viewer.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/count_chart.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/score_chart.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/ridgeline_chart.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/map_chart.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/common.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/modal.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/canvas_overlay.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/voronoi.js')

    body
        div(id="container")

            include ./header.pug

            div(id="modal" class="modal")
                div(class="modal-content")
                    div(class="modal-header" id="modal_head")

                    div(class="modal-body" id="modal_body")

                    div(class="modal-footer")

            div(id="body")
                    
                //h(class="header2" style="font-size:26px") Viewer
                //hr
                br
                br

                div(class="grid-container-1")

                    div(class="half-round-item-1")

                        table(class="transparent_table")
                            tr
                                //
                                    td
                                        button(style="width: 100px" id="help_button" class="table_button table_button_hover")
                                            i(id="help_icon" class="fa-solid fa-circle-info" style="padding-right: 8px; color: white") 
                                            | Help
                                td 
                                    div(style="width: 140px")

                                td(style="width:100%")
                                    h(id="image_set_name" class="header2" style="font-size: 22px; text-align: center; white-space: pre-wrap; color: white")
                                td
                                    div(style="width: 140px")
                                        div(id="view_button_container" style="width: 140px" hidden)
                                            button(style="width: 140px; margin: 0px;" id="view_button" class="table_button table_button_hover")
                                                div(id="view_button_text")
                                                    i(class="fa-solid fa-location-dot" style="padding-right: 10px; color: white;")
                                                    |
                                                    | Map View


                        div(id="image_view_container")
                            table(class="transparent_table")

                                tr
                                    td(class="dark-bg" style="vertical-align:top")
                                        div(style="width: 280px;")
                                            div(id="left_panel")

                                                div(style="font-size: 20px; height: 20px" id="result_name")
                                                div(style="height: 10px")
                                                    hr(class="panel_line")

                                                div(style="height: 7px")
                                                table(class="transparent_table" id="image_name_table")
                                                    //- tr

                                                    //-     td(style="text-align: left")
                                                    //-         h(class="header2" style="width: 60px") Result
                                                    
                                                    //-     td(style="width: 100%; text-align: left; padding-left: 12px")
                                                    //-         h(id="result_name" style="word-break: break-all;")

                                                    tr

                                                        td(style="text-align: left")
                                                            h(class="header2" style="width: 60px") Image
                                                    
                                                        td(style="width: 100%; text-align: left; padding-left: 12px")
                                                            h(id="image_name" style="word-break: break-all;")

                                                        td
                                                            div(style="width: 106px;" id="region_name")
                                                    //-
                                                        tr
                                                            td(style="text-align: left")
                                                                h(class="header2" style="width: 60px") Status
                                                            td(style="width:100%; text-align: left; padding-left: 12px")
                                                                h(id="image_status")
                                                    
                                                    //-
                                                        tr
                                                            td(style="text-align: left")
                                                                h(class="header2" style="width: 80px") Used for:
                                                            td(style="width:100%; text-align: left; padding-left: 12px")
                                                                h(id="used_for")




                                               
                                                //hr(class="panel_line")
                                                div(style="height: 10px")
                                                //-
                                                    table(class="transparent_table")
                                                        tr
                                                            td(style="text-align: left")
                                                                h(class="header2" style="width: 60px") Images

                                                            td(style="width:100%")
                                                                select(id="filter_combo" class="nonfixed_dropdown")
                                                                    //- option all
                                                                    //- option unannotated
                                                                    //- option completed_for_training
                                                                    //- option completed_for_testing

                                                    br
                                                
                                                    div(id="image_set_table_container" class="scrollable_area" style="height: 470px; border:none; overflow-y: scroll")
                                                        table(id="image_set_table")

                                                hr(class="panel_line")
                                                
                                                div(style="width: 100%; text-align: right")
                                                    button(class="std-button std-button-hover" style="padding: 2px; font-size: 14px; width: 40px" onclick="show_customize_overlays_modal()")
                                                        i(class="fa-solid fa-palette") 

                                                div(style="height: 10px")

                                                table
                                                    tr 
                                                        td
                                                            h(class="header2" style="text-align: left") Navigation 
                                                        td(style="width: 100%")
                                                            select(id="navigation_dropdown" class="nonfixed_dropdown" style="display: inline-block; width: 200px")
                                                                option(value="images") Images 


                                                div(id="navigation_table_container" class="scrollable_area" style="width: 280px; border: none; overflow-y: scroll")
                                                    table(id="navigation_table")

                                                div(style="height: 10px")

                                                button(id="prev_image_button" class="std-button std-button-hover" style="font-size: 16px; width: 130px; border-radius: 30px 0px 0px 30px") 
                                                    i(class="fa-solid fa-circle-chevron-left" style="padding-right: 5px")
                                                    | 
                                                    | Previous 
                                                button(id="next_image_button" class="std-button std-button-hover" style="font-size: 16px; width: 130px; border-radius: 0px 30px 30px 0px; margin-left: -1px") Next 
                                                    i(class="fa-solid fa-circle-chevron-right" style="padding-left: 5px")  



                                                //- div(style="height: 30px")

                                                //-     table(id="image_navigation_buttons")
                                                //-         tr
                                                //-             td(style="width: 140px")
                                                //-                 button(id="prev_image_button" class="std-button std-button-hover" style="font-size: 16px; width: 100%") 
                                                //-                     i(class="fa-solid fa-circle-chevron-left" style="padding-right: 5px")
                                                //-                     | 
                                                //-                     | Previous
                                                //-             td(style="width: 140px")
                                                //-                 button(id="next_image_button" class="std-button std-button-hover" style="font-size: 16px; width: 100%;") Next 
                                                //-                     i(class="fa-solid fa-circle-chevron-right" style="padding-left: 5px")                                                    


                                                
                                                //- a(class="table_button table_button_hover" style="padding: 5px 10px;" id="download_button" download)
                                                //-     i(class="fa fa-download fa-sm")
                                                //-     span(style="margin-left: 10px") Download Results 
                                                
                                                //div(style="height: 5px")                                     


                                    td(style="width: 100%; border-left: none; border-right: none" class="viewer" id="seadragon_viewer")


                                    td(class="dark-bg" style="vertical-align:top")
                                        div(style="width: 280px;")

                                            div(id="right_panel")

                                                //- div(class="header2" style="text-align: left") Annotation Version
                                                //- select(id="annotation_version_combo" class="nonfixed_dropdown" style="max-width: 100%")
                                                //-     option(value="preserved") From Time of Result Creation
                                                //-     option(value="most_recent") Most Recent
                                                //- table(class="transparent_table" style="border: 1px solid white; width: 260px")
                                                //-     tr 
                                                //-         td 
                                                //-             label(class="radio_container") Preserved
                                                //-                 input(type="radio" name="annotation_version" value="preserved" checked)
                                                //-                 span(class="custom_radio")
                                                //-         td 
                                                //-             label(class="radio_container") Most Recent 
                                                //-                 input(type="radio" name="annotation_version" value="most_recent")
                                                //-                 span(class="custom_radio")

                                                //div(style="height: 15px")
                                                //- hr(class="panel_line")

                                                //hr(class="panel_line")
                                                //div(style="height: 5px")

                                                h(class="header2" style="width: 170px; text-align: left; margin-top: -2px") Download
                                                table
                                                    tr
                                                        td
                                                            a(id="request_metrics_button" class="std-button std-button-hover" style="font-size: 16px; width: 135px") 
                                                                i(class="fa-solid fa-file-arrow-down" style="padding-right: 5px")
                                                                |
                                                                | Metrics
                                                        td 
                                                            div(style="width: 5px")
                                                        td
                                                            button(id="request_raw_outputs_button" class="std-button std-button-hover" style="font-size: 16px; width: 135px")
                                                                i(class="fa-solid fa-file-zipper" style="padding-right: 5px")
                                                                |
                                                                | Raw Outputs

                                                    //- i(class="fa-solid fa-file-arrow-down" style="padding-right: 5px")
                                                    //- |
                                                    //- | Predictions
                                                
                                                    //- i(class="fa-solid fa-file-arrow-down" style="padding-right: 5px")
                                                    //- |
                                                    //- | Metrics


                                                //div(style="height: 5px")

                                                hr(class="panel_line")

                                                div(style="height: 40px")
                                                    //div(class="header2" style="text-align: left") Metric
                                                    table
                                                        tr
                                                            td(style="text-align: left")
                                                                h(class="header2" style="width: 170px; margin: 0px") Metric
                                                            td(style="width: 100%")
                                                            td
                                                                button(class="std-button std-button-hover" onclick="show_metrics_modal()" style="padding: 2px; font-size: 14px; width: 40px")
                                                                    i(class="fa-regular fa-circle-question") 

                                                    select(id="chart_combo" class="nonfixed_dropdown" style="max-width: 100%")
                                                    //- table
                                                    //-     tr
                                                    //-         td(style="text-align: left")
                                                    //-             h(class="header2") Metric
                                                    //-         td(style="width: 100%")
                                                    //- table
                                                    //-     tr
                                                    //-         td(style="width: 280px")
                                                    //-             select(id="chart_combo" class="nonfixed_dropdown")

                                                div(style="height: 15px")
                                                                
                                                div(id="count_chart" style="height: 95px; border:none")
                                                    div(id="count_chart_tooltip" class="tooltip" style="z-index: 10")

                                                hr(class="panel_line")
                                                
                                                //- div(style="height: 40px")
                                                //-     table
                                                //-         tr
                                                //-             td(style="text-align: left")
                                                //-                 h(class="header2" style="width: 170px") Overlays
                                                //-             td(style="width: 100%")
                                                //-             td
                                                //-                 button(class="std-button std-button-hover" onclick="show_overlays_modal()" style="padding: 2px; font-size: 14px; width: 40px")
                                                //-                     i(class="fa-regular fa-clone") 
                                                h(class="header2" style="text-align:left") Overlays

                                                //div(class="scrollable_area" style="height: 90px; border:none")
                                                table(id="overlays_table" style="margin-top: -22px;")

                                                //- table(style="border-collapse: collapse")
                                                //-         tr
                                                //-             //(style="border: 1px solid white")
                                                //-             td(style="text-align: right")
                                                //-                 h(class="header2" style="width: 90px; font-size: 14px") Hide Image

                                                //-             td(style="width: 60px")
                                                //-                 label(class="small_switch")
                                                //-                     input(id="image_visible_switch" type="checkbox")
                                                //-                     span(class="small_switch_slider round")
                                                //collapse;")


                                                hr(class="panel_line")

                                                //- h(class="header2" style="text-align:left") Score Distribution
                                                //- h(class="header2" style="text-align: left; font-size: 16px") Est. Quality: 
                                                //-     span(id="quality_score" style="color: white; text-align: left")

                                                //div
                                                table
                                                    td(style="text-align: left")
                                                        h(class="header2" style="width: 170px; margin: 0px") Score Distribution
                                                    td(style="width: 100%")
                                                    td
                                                        button(class="std-button std-button-hover" onclick="show_ridgeline_modal()" style="padding: 2px; font-size: 14px; width: 40px")
                                                            i(class="fa-regular fa-rectangle-list")

                                                h(class="header2" style="text-align: left; font-size: 14px; margin-top: 2px; margin-left: 1px") Quality Score: 
                                                    span(id="quality_score" style="color: white; text-align: left")


                                                div(id="score_chart" style="height: 175px; width: 275px; border:none")
                                                
                                                //div(style="height: 10px")
                                                hr(class="panel_line")

                                                //div(style="height: 8px")
                                                    
                                                table
                                                    tr
                                                        td
                                                            div(style="width: 147px; text-align:left; margin: 2px 0px;" class="header2") Show Image
                                                        td
                                                            label(class="switch")
                                                                input(id="image_visible_switch" type="checkbox" checked)
                                                                span(class="switch_slider round")
                                                        td(style="width: 100%")       
                                                    tr
                                                        td
                                                            div(style="width: 147px; text-align:left; margin: 2px 0px;" class="header2") Show Scores
                                                        td
                                                            label(class="switch")
                                                                input(id="scores_switch" type="checkbox")
                                                                span(class="switch_slider round")
                                                        td(style="width: 100%")

                                                table
                                                    tr
                                                        td
                                                            div(style="width: 50px; text-align:left" class="header2") Filter

                                                        td
                                                            button(id="score_down" class="table_button table_button_hover" style="margin: 0px; border-radius: 50px; padding-bottom: 3px; margin-top: -4px;")
                                                                i(class="fa-solid fa-circle-chevron-left")
                                                                
                                                        td(style="width: 100%")
                                                            div(class="slidecontainer" style="width: 100%")
                                                                input(type="range" min="0.25" max="0.99" step="0.01" value="0.5" class="slider" id="confidence_slider" style="margin: 0px")

                                                        td
                                                            button(id="score_up" class="table_button table_button_hover" style="margin: 0px; border-radius: 50px; padding-bottom: 3px; margin-top: -4px;")
                                                                i(class="fa-solid fa-circle-chevron-right")
                                                        
                                                        td
                                                            div(id="confidence_slider_val" style="margin-left: 2px; padding: 4px 2px; margin-top: -4px; border-radius: 5px; border: 1px solid white; width: 55px") > 0.50



                        div(id="map_view_container" hidden)
                            table(class="transparent_table")

                                tr
                                    td(class="dark-bg" style="vertical-align:top; height: 720px")
                                        div(style="width: 280px;")

                                            div(id="map_builder_controls_container" hidden)

                                                div(style="font-size: 20px") Map Builder Controls 
                                                br
                                                div(class="header2" style="text-align: left; padding-left: 10px") Interpolation 
                                                table(style="border: 1px solid white; width: 260px; padding-top: 15px; padding-left: 25px")
                                                    tr 
                                                        td 
                                                            label(class="custom_radio_container") Linear 
                                                                input(type="radio" name="interpolation_radio" value="linear" checked)
                                                                span(class="custom_radio")
                                                        td 
                                                            label(class="custom_radio_container") Nearest 
                                                                input(type="radio" name="interpolation_radio" value="nearest")
                                                                span(class="custom_radio")

                                                //br
                                                //div(class="header2" style="text-align: left; padding-left: 10px") Model Selection 
                                                //table(class="transparent_table" style="border: 1px solid white; width: 260px" id="map_selection_table")

                                                

                                                //- div(id="sufficient_annotation_options" hidden)
                                                //-     br
                                                //-     div(class="header2" style="text-align: left; padding-left: 10px") Images Used for Predicted Map
                                                //-     table(style="border: 1px solid white; width: 260px; padding-top: 15px; padding-left: 25px")
                                                //-         tr 
                                                //-             td 
                                                //-                 label(class="custom_radio_container") All 
                                                //-                     input(type="radio" id="pred_image_status_all" name="pred_image_status" value="all" checked)
                                                //-                     span(class="custom_radio")
                                                //-             td 
                                                //-                 div(style="width: 20px")
                                                //-             td 
                                                //-                 label(class="custom_radio_container") Annotated 
                                                //-                     input(type="radio" id="pred_image_status_completed" name="pred_image_status" value="completed")
                                                //-                     span(class="custom_radio")

                                                //-
                                                    br
                                                    div(class="header2" style="text-align: left; padding-left: 10px") Map Comparison Type 
                                                    table(class="transparent_table" style="border: 1px solid white; width: 260px")
                                                        tr 
                                                            td 
                                                                label(class="radio_container") Side-by-side 
                                                                    input(type="radio" name="comparison_type" value="side_by_side" checked)
                                                                    span(class="custom_radio")
                                                            td 
                                                                label(class="radio_container") Difference 
                                                                    input(type="radio" name="comparison_type" value="diff")
                                                                    span(class="custom_radio")

                                                br
                                                div(id="map_tile_size_controls")
                                                    table
                                                        tr
                                                            td
                                                                div(style="width: 80px; text-align:left; padding-left: 10px" class="header2") Tile Size
                                                            td(style="width: 100%")
                                                    table
                                                        tr
                                                            td
                                                                div(style="width: 10px")
                                                            td
                                                                button(id="tile_size_down" class="table_button table_button_hover" style="margin: 0px; border-radius: 50px; padding-bottom: 3px; margin-top: -4px;")
                                                                    i(class="fa-solid fa-circle-chevron-left")
                                                                    
                                                            td(style="width: 100%")
                                                                div(class="slidecontainer" style="width: 100%")
                                                                    input(type="range" class="slider" id="tile_size_slider" step="0.25"  style="margin: 0px")

                                                            td
                                                                button(id="tile_size_up" class="table_button table_button_hover" style="margin: 0px; border-radius: 50px; padding-bottom: 3px; margin-top: -4px;")
                                                                    i(class="fa-solid fa-circle-chevron-right")
                                                            
                                                            td
                                                                div(id="tile_size_slider_val" style="padding: 4px 2px; margin-top: -4px; border-radius: 5px; border: 1px solid white; width: 65px; margin-left: 4px;") 
                                                            td
                                                                div(style="width: 10px")

                                                br
                                                hr(class="panel_line")
                                                br
                                                button(style="width: 140px; margin: 0px" id="build_map_button" class="table_button table_button_hover" onclick="build_map()")
                                                    i(class="fa-solid fa-gears" style="padding-right: 10px; color: white")
                                                    |
                                                    | Build Map 
                                                br
                                                br
                                                div(id="build_loader" class="loader" hidden)


                                    td(style="width: 100%; border-left: none" id="chart_container")                        

    script.
        let username = !{JSON.stringify(username)};
        let data = !{JSON.stringify(data)};