doctype html

html
    head
        title="Canola Counter"
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="icon" href=process.env.CC_PATH + "/images/favicon.ico")

        link(href=process.env.CC_PATH + "/annotorious/annotorious.min.css" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet")
        link(href=process.env.CC_PATH + '/stylesheets/main.css' rel='stylesheet')
        link(href=process.env.CC_PATH + '/stylesheets/d3.css' rel='stylesheet')
        
        

        script(src=process.env.CC_PATH + "/osd/openseadragon.min.js")
        script(src=process.env.CC_PATH + "/annotorious/openseadragon-annotorious.min.js")

        script(src="https://code.jquery.com/jquery-3.6.0.js")
        script(src="https://d3js.org/d3.v4.js")
        script(src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous")

        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/workspace.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/count_chart.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/score_chart.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/ground_cover_chart.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/map_chart.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/common.js')
        script(type='text/javascript' src=process.env.CC_PATH + '/javascripts/modal.js')

    body
        div(id="container")

            include ./header.pug

            //-
                div(id="header"  style="background-color: #2b3628")
                    table(class="transparent_table")
                        tr
                            td
                                div(style="width: 320px")
                                    a(id="home_button" style="font-size: 22px; margin: 0px 5px" class="table_button table_button_hover") Canola Counter
                            td(style="width:100%")

                            td
                                div(style="font-weight: bold; margin-right:15px") #{username} 
                            td
                                div(style="width: 100px")
                                    a(class="table_button table_button_hover" id="log_out") Log Out

                    hr

            div(id="modal" class="modal")
                div(class="modal-content")
                    div(class="modal-header" id="modal_head")
                        //span(class="close close-hover" id="modal_close") &times;
                        //p Help
                    div(class="modal-body" id="modal_body")

                    div(class="modal-footer")



            div(id="body")

                br
                br

                div(class="grid-container-1")


                    div(class="half-round-item-1")

                        table(class="transparent_table")
                            tr
                                td
                                    div(style="width: 140px; text-align: left")
                                        button(style="width: 100px; margin: 0px" id="help_button" class="table_button table_button_hover")
                                            i(id="help_icon" class="fa-solid fa-circle-info" style="padding-right: 8px; color: white") 
                                            | Help

                                td(style="width:100%")
                                    h(id="image_set_name" class="header2" style="font-size: 22px; text-align: center; white-space: pre-wrap; color: white")
                                
                                td
                                    div(style="width: 140px")
                                        div(id="view_button_container" style="width: 140px;" hidden)
                                            button(style="width: 140px; margin: 0px;" id="view_button" class="table_button table_button_hover")
                                                div(id="view_button_text")
                                                    i(class="fa-solid fa-location-dot" style="padding-right: 10px; color: white;")
                                                    |
                                                    | Map View


                        div(id="image_view_container" hidden)
                            table(class="transparent_table")

                                tr
                                    td(class="dark-bg" style="vertical-align:top" id="left_panel")

                                        div(style="width: 280px;")

                                            table(class="transparent_table")
                                                tr
                                                    td(style="text-align: left")
                                                        h(class="header2") Image

                                                    td(style="width: 100%; text-align: left; padding-left: 10px")
                                                        h(id="image_name" style="word-break: break-all;")

                                            table(class="transparent_table")

                                                tr 
                                                    td(style="text-align: left")
                                                        h(class="header2") Status

                                                    td(style="width: 100%; text-align: left; padding-left: 10px;")
                                                        select(id="status_combo" class="nonfixed_dropdown" style="width: 238px")

                                                //-
                                                    tr
                                                        td 
                                                            label(class="radio_container") Use for Training 
                                                                input(id="use_for_radio" type="radio" name="use_for_training" value="yes")
                                                                span(class="custom_radio")
                                            
                                            hr
                                            br

                                            button(id="save_button" class="table_button table_button_hover")
                                                i(id="save_icon" class="fa-solid fa-floppy-disk" style="padding-right: 8px; color: white")
                                                |
                                                | Save All Changes 
                                        
                                            button(id="fake_save_button" class="table_button" hidden)
                                                div(class="loader" style="width: 14px; height: 14px; margin: 0px 8px 0px 0px; display: inline-block")
                                                |
                                                | Save All Changes

                                            br
                                            br


                                            //div(style="width: 280px;")

                                            h(class="header2" style="text-align: left") Images

                                            div(class="scrollable_area" style="height: 475px; width: 280px; border: none; overflow-y: scroll")
                                                table(id="image_set_table")

                                            div(style="height: 10px")
                                            table
                                                tr
                                                    td(style="width: 140px")
                                                        button(id="prev_image_button" class="std-button std-button-hover" style="font-size: 16px; width: 100%") 
                                                            i(class="fa-solid fa-circle-chevron-left" style="padding-right: 5px")
                                                            | 
                                                            | Previous
                                                    td(style="width: 140px")
                                                        button(id="next_image_button" class="std-button std-button-hover" style="font-size: 16px; width: 100%") Next 
                                                            i(class="fa-solid fa-circle-chevron-right" style="padding-left: 5px")    



                                    td(style="width: 100%; position: relative" class="viewer" id="seadragon_viewer")
                                        //div(id="my_image_container" class="scrollable_area" hidden)

                                    //td(style="width: 100%; position: relative" class="viewer" id="segmentation_viewer" hidden)
                                        


                                    td(class="dark-bg" style="vertical-align:top; padding: 0px 0px")
                                        //padding: 0px 0px;")
                                
                                        div(style="width: 100%;")
                                            // margin: -8px 0px")

                                            div
                                                ul.nav


                                                    li.nav(id="show_annotation_button" class="tab-btn-active" style="width: 99px" onclick="show_annotation()") 
                                                        a.nav
                                                            i(class="fa-solid fa-pen-to-square")

                                                    li.nav(id="show_prediction_button" onclick="show_prediction()" style="width: 98px") 
                                                        a.nav
                                                            i(class="fa-regular fa-clone")

                                                    li.nav(id="show_segmentation_button" onclick="show_segmentation()" style="width: 99px") 
                                                        a.nav
                                                            i(class="fa-solid fa-image")


                                        div(style="padding: 8px 8px")
                                            
                                            div(style="width: 280px;")
                                               
                                                // padding: 8px 8px;")
                                                div(id="annotation_panel")
                        
                                                    div(style="height: 40px")

                                                    table(class="transparent_table")
                                                        tr
                                                            td(style="text-align: left")
                                                                h(class="header2" style="width: 170px") Model
                                                            td(style="width: 100%")
                                                            td
                                                                button(class="std-button std-button-hover" style="padding: 2px; font-size: 14px; width: 90px" onclick="change_model()")
                                                                    i(class="fa-solid fa-cube" style="margin-right: 4px") 
                                                                    |
                                                                    | Switch 
                                                                //div(style="width: 30px")
                                                                //    div(class="blob")


                                                    div(style="height: 100px; border: 1px solid white; border-radius: 10px")
                                                        div(id="model_details")
                                                            //div(style="height: 10px")
                                                            div(style="height: 10px")
                                                            div(id="model_name")
                                                            div(style="height: 5px")
                                                            //-
                                                                table(class="transparent_table" style="font-size: 14px")

                                                                    tr
                                                                        td(style="text-align: right")
                                                                            div(style="color: #ddccbb; font-weight: 400; width: 115px") Name 
                                                                        td(style="text-align: left; padding-left: 12px; width: 100%")
                                                                            div(id="model_name")


                                                            table(class="transparent_table" style="font-size: 14px")

                                                                tr
                                                                    td(style="text-align: right")
                                                                        div(style="color: #ddccbb; font-weight: 400; width: 115px") Fully Trained? 
                                                                    td(style="text-align: left; padding-left: 15px;")
                                                                        div(id="model_fully_trained")


                                                                tr
                                                                    td(style="text-align: right")
                                                                        div(style="color: #ddccbb; font-weight: 400; width: 115px") Fine-Tuned? 
                                                                    td(style="text-align: left; padding-left: 15px;")
                                                                        div(id="model_fine_tuned")

                                                                tr
                                                                    td(style="text-align: right")
                                                                        div(style="color: #ddccbb; font-weight: 400; width: 115px") Training Blocked?

                                                                    td(style="text-align: left; padding-left: 15px;")
                                                                        div(style="width: 55px")
                                                                            h(id="train_block_text")

                                                                    
                                                                    td(style="width: 100%;")
                                                                        label(class="small_switch" id="train_block_label")
                                                                            input(id="train_block_switch" type="checkbox" disabled)
                                                                            span(class="small_switch_slider round" id="train_block_slider")



                                                    //-
                                                        table(class="transparent_table")
                                                            //- tr
                                                            //-     td(style="text-align: left")
                                                            //-         h(class="header2" style="width: 170px") Model Status

                                                            //-     td(style="width: 100%; text-align: left; padding-left: 12px")
                                                            //-         h(id="model_status")


                                                            tr
                                                                td(style="text-align: left")
                                                                    h(class="header2" style="width: 170px") Model Fully Trained?

                                                                td(style="width: 100%; text-align: left; padding-left: 12px")
                                                                    h(id="model_training_status")
                                                        
                                                        table(class="transparent_table")
                                                            tr 
                                                                td(style="text-align: left")
                                                                    h(class="header2" style="width: 170px") Training Blocked?

                                                                td(style="text-align: left; padding-left: 12px;")
                                                                    div(style="width: 55px")
                                                                        h(id="train_block_text")

                                                                
                                                                td(style="width: 100%; text-align: left;")
                                                                    label(class="switch" id="train_block_label")
                                                                        input(id="train_block_switch" type="checkbox" disabled)
                                                                        span(class="switch_slider round" id="train_block_slider")
                                                    
                                                    div(style="height: 5px")
                                                    div(id="train_block_message" style="height: 20px; font-size: 14px; color: #ed452b") 
                                                    hr





                                                    table(class="transparent_table")
                                                        tr
                                                            td(style="text-align: left")
                                                                h(class="header2" style="width: 130px") Backend Status
                                                            td(style="width: 100%")
                                                            td
                                                                div(style="width: 30px")
                                                                    div(class="blob")


                                                    div(style="height: 115px; border: 1px solid white; border-radius: 10px")
                                                        div(id="backend_details")
                                                            div(style="height: 10px")
                                                            div(id="backend_status")
                                                            div(style="height: 5px")
                                                            table(class="transparent_table" style="font-size: 14px")

                                                                tr
                                                                    td(style="text-align: right")
                                                                        div(style="color: #ddccbb; font-weight: 400; width: 90px") Username 
                                                                    td(style="text-align: left; padding-left: 15px; width: 100%;")
                                                                        div(id="backend_username" )
                                                                tr
                                                                    td(style="text-align: right")
                                                                        div(style="color: #ddccbb; font-weight: 400; width: 90px") Farm Name 
                                                                    td(style="text-align: left; padding-left: 15px; width: 100%;")
                                                                        div(id="backend_farm_name")                                                                
                                                                tr
                                                                    td(style="text-align: right")
                                                                        div(style="color: #ddccbb; font-weight: 400; width: 90px") Field Name 
                                                                    td(style="text-align: left; padding-left: 15px; width: 100%;")
                                                                        div(id="backend_field_name")
                                                                tr
                                                                    td(style="text-align: right")
                                                                        div(style="color: #ddccbb; font-weight: 400; width: 90px") Mission Date 
                                                                    td(style="text-align: left; padding-left: 15px; width: 100%;")
                                                                        div(id="backend_mission_date")
                                                    div(style="height: 5px")
                                                    table(class="transparent_table")
                                                        tr
                                                            td(style="text-align: right")
                                                                h(class="header2" style="width: 90px; font-size: 14px") Last Update

                                                            td(style="width: 100%; font-size: 14px")
                                                                h(id="backend_update_time")


                                                    hr


                                                    //div(style="height: 35px")

                                                    table(class="transparent_table")
                                                        tr
                                                            td(style="text-align: left")
                                                                h(class="header2" style="width: 170px") Request Predictions
                                                            td(style="width: 100%")

                                                    button(id="predict_single_button" class="std-button std-button-hover" style="font-size: 16px; width: 220px") This Image
                                                
                                                    div(style="height: 10px")
                                                    //br
                                                    button(id="predict_all_button" class="std-button std-button-hover" style="font-size: 16px; width: 220px") All Images

                                                    div(style="height: 10px")

                                                    button(id="request_result_button" class="std-button std-button-hover" style="font-size: 16px; width: 220px") All Images + Save Result
                                                    
                                                    div(style="height: 10px")
                                                    
                                                    hr

                                                    div(style="height: 10px")

                                                    button(id="suggest_image_button" class="std-button std-button-hover" style="font-size: 16px; width: 260px") Suggest An Image For Annotation
                                                    
                                                    div(style="height: 10px;")
                                                    div(style="font-size: 13px; text-align: justify") Image suggestions are based on score distributions of predictions. For best results, generate predictions for all images before requesting a suggestion.
                                                    div(style="height: 10px")

                                                    //-
                                                        hr

                                                        div(style="height: 10px")
                                                        button(id="restart_button" class="x-button x-button-hover" style="font-size: 16px; width: 170px" onclick="restart_model()")
                                                            i(class="fa-solid fa-rotate-right" style="margin-right:8px") 
                                                            |
                                                            | Restart Model






                                                div(id="prediction_panel" hidden)

                                                    
                                                    
                                                    //br
                                                    //br

                                                    div(id="predictions_unavailable" hidden)
                                                        div(style="height: 50px")
                                                        div No predictions found!

                                                    div(id="predictions_available" hidden)

                                                        div(style="height: 40px")
                                                        
                                                        button(id="use_predictions_button" class="std-button std-button-hover" style="font-size: 16px") Use Predictions As Annotations

                                                        div(style="height: 5px")
                                                        


                                                        hr
                                                        
                                                        //- div(style="height: 255px")
                                                        //-     table(class="transparent_table" id="overlays_table")


                                                        div(style="height: 40px")
                                                            table(class="transparent_table")
                                                                td(style="text-align: left")
                                                                    h(class="header2") Metric
                                                                td(style="width: 100%")
                                                                    select(id="chart_combo" class="nonfixed_dropdown")
                                                                        
                                                        div(id="count_chart" style="height: 95px; width: 270px; border:none")
                                                            div(id="count_chart_tooltip" class="tooltip" style="z-index: 10")

                                                        hr
                                                        
                                                        h(class="header2" style="text-align:left") Overlays

                                                        div(style="height: 90px")
                                                            table(class="transparent_table" id="overlays_table")

                                                        hr

                                                        h(class="header2" style="text-align: left") Score Distribution
                                                        h(class="header2" style="text-align: left; font-size: 16px") Est. Quality: 
                                                            span(id="quality_score" style="color: white; text-align: left")
                                                        div(id="score_chart" style="height: 180px; width: 270px; border:none")
                                                        hr

                                                        table(class="transparent_table")
                                                            tr 
                                                                td(style="width: 140px")
                                                                    div(style="width: 140px; text-align:left" class="header2") Show scores
                                                                td(style="width: 40px")
                                                                    label(class="switch")
                                                                        input(id="scores_switch" type="checkbox")
                                                                        span(class="switch_slider round")
                                                                td(style="width: 100%")

                                                        table(class="transparent_table")                   
                                                            tr
                                                                td(style="width: 50px")
                                                                    div(style="width: 50px; text-align:left" class="header2") Filter

                                                                td
                                                                    button(id="score_down" class="table_button table_button_hover" style="margin: 0px; border-radius: 50px; padding-bottom: 4px")
                                                                        i(class="fa-solid fa-circle-chevron-left")
                                                                        
                                                                td(style="width: 100%")
                                                                    div(class="slidecontainer" style="width: 100%")
                                                                        input(type="range" min="0.25" max="1" step="0.01" value="0.5" class="slider" id="confidence_slider")

                                                                td
                                                                    button(id="score_up" class="table_button table_button_hover" style="margin: 0px; border-radius: 50px; padding-bottom: 4px")
                                                                        i(class="fa-solid fa-circle-chevron-right")
                                                                
                                                                td(style="width: 50px")
                                                                    div(id="confidence_slider_val" style="margin-left: 12px" class="header2") 0.50


                                            
                                                div(id="segmentation_panel" hidden)

                                                    //div(id="my_result" style="border: 1px solid white; height: 280px")
                                                    div(style="height: 40px")
                                                    table(class="transparent_table")
                                                        tr
                                                            td(style="width: 90px")
                                                                div(style="width: 90px; text-align:left" class="header2") Threshold:
                                                            td(style="width: 50px")
                                                                div(id="threshold_slider_val_container" style="text-align: right; width: 50px")
                                                    table(class="transparent_table")
                                                        tr
                                                            td
                                                                button(id="threshold_score_down" class="table_button table_button_hover" style="margin: 0px; border-radius: 50px; padding-bottom: 4px")
                                                                    //4.5px")
                                                                    i(class="fa-solid fa-circle-chevron-left")

                                                            td(style="width: 100%")
                                                                div(id="threshold_slider_container" class="slidecontainer" style="width: 100%")
                                                                    //input(type="range" min="-2" max="2" step="0.01" value="0.0" class="slider" id="threshold_slider")
                                                            
                                                            td
                                                                button(id="threshold_score_up" class="table_button table_button_hover" style="margin: 0px; border-radius: 50px; padding-bottom: 4px")
                                                                    i(class="fa-solid fa-circle-chevron-right")
                                                                    // style="padding-bottom: 4px")                                                        
                                                            
                                                            
                                                                //div(id="threshold_slider_val" style="margin-left: 12px" class="header2")  

                                                    div(style="height: 30px")
                                                    button(id="request_segment_button" class="std-button std-button-hover" style="font-size: 16px; width: 265px") Segment

                                                    div(style="height: 10px")
                                                    button(id="apply_threshold_to_all_button" class="std-button std-button-hover" style="font-size: 16px; width: 265px") Apply This Threshold To All Images

                                                    div(style="height: 10px")
                                                    div(style="height: 210px")
                                                        div(id="image_loader" class="loader")

                                                    hr


                                                    div(style="text-align:left" class="header2") Ground Cover Percentage: 
                                                        span(id="ground_cover_text")
                                                    //div(style="align: center;")
                                                    div(id="ground_cover_chart" style="margin: auto; height: 115px; width: 115px;")
                                                    // border:none")

                        div(id="map_view_container" hidden)
                            table(class="transparent_table")

                                tr
                                    td(class="dark-bg" style="vertical-align:top; height: 720px")
                                        div(style="width: 280px;")

                                            div(id="map_builder_controls_container" hidden)

                                                div(style="font-size: 20px") Map Builder Controls 
                                                br
                                                div(class="header2" style="text-align: left; padding-left: 10px") Interpolation 
                                                table(class="transparent_table" style="border: 1px solid white; width: 260px")
                                                    tr 
                                                        td 
                                                            label(class="radio_container") Linear 
                                                                input(type="radio" name="interpolation" value="linear" checked)
                                                                span(class="custom_radio")
                                                        td 
                                                            label(class="radio_container") Nearest 
                                                                input(type="radio" name="interpolation" value="nearest")
                                                                span(class="custom_radio")      


                                                br
                                                hr
                                                br
                                                button(style="width: 140px; margin: 0px" id="build_map_button" class="table_button table_button_hover" onclick="build_map()")
                                                    i(class="fa-solid fa-gears" style="padding-right: 10px; color: white")
                                                    |
                                                    | Build Map 
                                                br
                                                br
                                                div(id="build_loader" class="loader" hidden)
                                            
                                            div(id="insufficient_annotation_container" hidden)
                                                div To build a density map, at least three images must be fully annotated.


                                    td(style="width: 100%" id="chart_container")





    script.
        let username = !{JSON.stringify(username)};
        let data = !{JSON.stringify(data)};